.card {
  width: auto;
  height: 100%;
  background-color: #fff;
  background: linear-gradient(var(--horde-secondary), var(--horde-secondary-gradiant));
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  /* margin: 1.5rem; */
  transition: transform 0.4s;
}

.card h1 {
  text-align: center;
}
.card h3 {
    padding-left: 10px;
}

.card .additional {
  position: absolute;
  width: 100%;
  height: 20%;
  background: linear-gradient(var(--horde-primary), var(--horde-primary-gradiant));
  transition: height 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card .asdf {
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
  }

.card:hover {
    /* transform: translate(5px,-5px); */
}

.card:hover .additional {
  height: 100%;
  border-radius: 0 5px 5px 0;
}


