.navbar {
  grid-row: 1;
  grid-column: 1/4;
  height: 100%;
  width: 100%;
  
  
  background-color: var(--horde-secondary)
}

h1 {
  color: white;
  font-size: 1em;
}

.navbar-nav {
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  /* flex-direction: row; */
  grid-auto-flow: column;
  grid-template-columns: 4fr 1fr;
  justify-items: center;
  width: 100%;

}

.nav-item {
  height: 100%;
  width: 100%;
}

.nav-link {
  color: var(--text-primary);
  text-decoration: none;
}
@media (min-width: 45em) { 
  h1 {
    font-size: 1.5em;
  }
}