.imageContainer{
position: absolute;
width: 4em;
height: 100%;
z-index: 5;
}

.buttonOverlay1 {
    position: absolute;
    width: 4em;
    height: 100%;
    overflow: hidden;
    transform: scale(-1) rotate(180deg) translate(1.80em,0);
}

.buttonOverlay2 {
    position: absolute;
    width: 4em;
    height: 100%;
    overflow: hidden;
    transform: scale(-1) rotate(180deg) translate(-2.15em,0)
}
.themeButton1 {
    position: absolute;
    top: 0;
    left: -1.85em;
    cursor:pointer;
    border:none;
    width:auto;
    overflow:hidden;
    max-width: 4em;
    max-height: 5em;
    height: auto;
    object-fit: contain;
    filter: var(--filter-thing1) saturate(200%);
    transition: 1s filter linear;
    
}

 .themeButton2 {
    position: absolute;
    top: 0;
    left: 2.2em;
    cursor:pointer;
    border:none;
    width:auto;
    overflow:hidden;
    max-width: 4em;
    max-height: 5em;
    height: auto;
    object-fit: contain;
    filter: var(--filter-thing2);
    transition: 1s filter linear;
}
